#FUNCTION THEORY:

1.What is the difference between a function and a method in Python?             
->In Python:                                                                    

Function: A standalone block of reusable code defined using def. It is not tied to any object.                                                                  

Example:

In [ ]:
def greet(name):
    return f"Hello, {name}!"
print(greet("Rahul"))

Hello, Rahul!

Method: A function that is bound to an object and can access that object's      data. Defined within a class.                                                   

Example:

In [ ]:
class Greeter:
    def greet(self, name):
        return f"Hello, {name}!"

greeter = Greeter()
print(greeter.greet("Aman"))

Hello, Aman!

Key difference: A method operates on an instance (accessed via self), while a   function is independent.

2.Explain the concept of function arguments and parameters in Python.           
->Parameters: Variables defined in a function declaration that act as           placeholders for the values the function expects.                               

Example:

In [ ]:
def greet(name):
    return f"Hello, {name}!"

Arguments: The actual values passed to a function when it is called.            

Example:

In [ ]:
print(greet("Swati"))

Hello, Swati!

Parameters are placeholders; arguments are the real data passed during function calls.

3.?What are the different ways to define and call a function in Python?         
->In Python, functions can be defined and called in several ways:               

1. Regular Function                                                             
Defined using def, called with its name.

In [ ]:
def add(a, b):
    return a + b

print(add(2, 3))

5

2.Lambda Function                                                               
An anonymous, single-expression function.

In [ ]:
add = lambda a, b: a + b
print(add(2, 3))

5

3.Default Arguments                                                             
Provides default values for parameters.

In [ ]:
def greet(name="Rahul"):
    return f"Hello, {name}!"

print(greet())
print(greet("Aman"))

Hello, Rahul!
Hello, Aman!

4.Keyword Arguments                                                             
Pass arguments by name.

In [ ]:
def introduce(name, age):
    return f"{name} is {age} years old."

print(introduce(age=22, name="Singh"))

Singh is 22 years old.

5.Variable-Length Arguments                                                     
For flexible numbers of arguments.

In [ ]:
def total(*args):
    return sum(args)

print(total(1, 2, 3, 4))

10

6.Function with **kwargs                                                        
Accepts arbitrary keyword arguments.

In [ ]:
def details(**kwargs):
    return kwargs

print(details(name="Rahul", age=18))

{'name': 'Rahul', 'age': 18}

4.What is the purpose of the `return` statement in a Python function?           
->The return statement in a Python function is used to send a result or value   back to the caller. It marks the end of the function's execution and specifies  the output.                                                                     

Example:

In [ ]:
def add(a, b):
    return a + b

result = add(3, 5)
print(result)

8

Purpose: It allows a function to produce a value for further use. Without       return, the function outputs

5.What are iterators in Python and how do they differ from iterables?           
->Iterables: Objects that can be looped over (e.g., lists, tuples, strings).    They have an __iter__() method that returns an iterator.                        

Example:

In [ ]:
my_list = [1, 2, 3]
for item in my_list:
    print(item)

1
2
3

-Iterators: Objects that represent a stream of data. They have __iter__() and   __next__() methods to retrieve elements one at a time.                          

Example:

In [ ]:
my_iter = iter(my_list)
print(next(my_iter))
print(next(my_iter))

1
2

Difference:                                                                     

Iterable can generate an iterator using iter().                                 
Iterator is used to fetch items one by one with next().                         
Iterators are exhausted after one traversal; iterables can be reused.

6.Explain the concept of generators in Python and how they are defined.         
->Generators in Python are a type of iterator that allow you to create          sequences of values lazily (on demand) using a special kind of function.        

Key Points:                                                                     
-Defined using a function with the yield keyword instead of return.              
-They produce values one at a time and maintain their state between calls.       
-More memory-efficient than lists for large sequences.                           
Example:

In [ ]:
def count_up_to(n):
    count = 1
    while count <= n:
        yield count
        count += 1

gen = count_up_to(3)
print(next(gen))
print(next(gen))

1
2

Benefits:                                                                       
-Lazy evaluation: Values are generated only when needed.                        
-Ideal for large datasets or infinite sequences.

7.What are the advantages of using generators over regular functions?           
->Generators offer several advantages over regular functions:                   

1.Memory Efficiency                                                             
Generators produce items one at a time using yield, so they don't require       storing the entire sequence in memory.

In [ ]:
def large_sequence():
    for i in range(10**6):
        yield i

2.Lazy Evaluation                                                               
Values are generated on demand, making them ideal for handling large or         infinite data streams.

In [ ]:
def infinite_numbers():
    n = 0
    while True:
        yield n
        n += 1

3. Simpler Code for Iteration                                                   
Generators simplify code compared to manually implementing iterators with       __iter__() and __next__().

In [ ]:
def squares(n):
    for i in range(n):
        yield i**2

4.Improved Performance                                                          
Generators avoid the overhead of creating and storing large data structures,    leading to faster execution for certain tasks.                                  

5.Pipeline Capability                                                           
Generators can be chained together to create pipelines for data processing.

In [ ]:
def even_numbers(numbers):
    for num in numbers:
        if num % 2 == 0:
            yield num

8.What is a lambda function in Python and when is it typically used?            
->A lambda function in Python is an anonymous, single-expression function       defined using the lambda keyword. It is compact and does not require a def      statement.                                                                      

Syntax:

In [ ]:
lambda arguments: expression

Example:

In [ ]:
square = lambda x: x**2
print(square(4))

16

1.Typical Uses:                                                                 
Short, Simple Functions: When the function logic is minimal and does not        require a name.

In [ ]:
add = lambda x, y: x + y
print(add(2, 3))

5

2.As Arguments to Higher-Order Functions:

In [ ]:
numbers = [1, 2, 3, 4]
doubled = map(lambda x: x * 2, numbers)
print(list(doubled))

[2, 4, 6, 8]

3.Sorting with Custom Keys:

In [ ]:
words = ["guava", "orange", "grapes"]
sorted_words = sorted(words, key=lambda w: len(w))
print(sorted_words)

['guava', 'orange', 'grapes']

9.Explain the purpose and usage of the `map()` function in Python.              
->The map() function in Python applies a given function to each item in an      iterable (e.g., list, tuple) and returns a map object (an iterator) with the    results.                                                                                                                                                 
Example:

In [ ]:
numbers = [1, 2, 3, 4]
squared = map(lambda x: x**2, numbers)
print(list(squared))

[1, 4, 9, 16]

Purpose:
-To simplify applying a function to all elements in an iterable without explicit loops.                                                                 
-Makes code concise and functional.                                             
Typical Use Cases:                                                              
1.Transforming Data:

In [ ]:
words = ["hello", "world"]
uppercased = map(str.upper, words)
print(list(uppercased))

['HELLO', 'WORLD']

2.Applying Complex Functions:

In [ ]:
def add_ten(x):
    return x + 10
result = map(add_ten, [5, 10, 15])
print(list(result))

[15, 20, 25]

3.Multiple Iterables (if the function takes multiple arguments):

In [ ]:
nums1 = [1, 2, 3]
nums2 = [4, 5, 6]
summed = map(lambda x, y: x + y, nums1, nums2)
print(list(summed))

[5, 7, 9]

10.What is the difference between `map()`, `reduce()`, and `filter()` functions in Python?                                                                      
->Here’s a concise comparison of the map(), reduce(), and filter() functions in Python, along with examples:                                                    

1.map()                                                                         
-Purpose: Applies a function to every item in an iterable and returns an        iterator with the transformed items.                                            
-Use Case:Transformation.                                                       
Example:

In [ ]:
numbers = [1, 2, 3]
squared = map(lambda x: x**2, numbers)
print(list(squared))

[1, 4, 9]

2.filter()                                                                      
-Purpose: Filters items from an iterable based on a predicate (a function       returning True or False).                                                       
-Use Case: Selection.                                                           
Example:

In [ ]:
numbers = [1, 2, 3, 4, 5]
even = filter(lambda x: x % 2 == 0, numbers)
print(list(even))

[2, 4]

3.reduce()                                                                      
-Purpose: Aggregates items in an iterable into a single value by applying a      function cumulatively. (Requires importing from functools.)                     
-Use Case:Reduction.                                                            
Example:

In [ ]:
from functools import reduce
numbers = [1, 2, 3, 4]
product = reduce(lambda x, y: x * y, numbers)
print(product)

24

11.Using pen & Paper write the internal mechanism for sum operation using       reduce function on this given                                                   
list:[47,11,42,13];                                                             

(Attach paper image for this answer) in doc or colab notebook.                  
->![reduce_sum_mechanism.png]()

##PRATICAL QUESTIONS:

1.Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in                                                      
the list.

In [ ]:
def sum_of_even_numbers(numbers):
    even_sum = 0
    for num in numbers:
        if num % 2 == 0:
            even_sum += num
    return even_sum


numbers = [47, 11, 42, 13, 88, 56]
result = sum_of_even_numbers(numbers)
print("Sum of even numbers:", result)

Sum of even numbers: 186

2.Create a Python function that accepts a string and returns the reverse of     that string.

In [ ]:
def reverse_string(input_string):
    return input_string[::-1]

string = "hello"
reversed_string = reverse_string(string)
print("Reversed string:", reversed_string)

Reversed string: olleh

3.Implement a Python function that takes a list of integers and returns a new   list containing the squares of                                                  
each number.

In [ ]:
def square_numbers(numbers):
    return [num ** 2 for num in numbers]

numbers = [1, 2, 3, 4, 5]
squared_numbers = square_numbers(numbers)
print("Squared numbers:", squared_numbers)

Squared numbers: [1, 4, 9, 16, 25]

4.Write a Python function that checks if a given number is prime or not from 1  to 200.

In [ ]:
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True

# Example usage: Checking prime numbers from 1 to 200
prime_numbers = [num for num in range(1, 201) if is_prime(num)]
print("Prime numbers between 1 and 200:", prime_numbers)

Prime numbers between 1 and 200: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

5.Create an iterator class in Python that generates the Fibonacci sequence up   to a specified number of                                                        
terms.

In [ ]:
class FibonacciIterator:
    def __init__(self, n):
        self.n = n
        self.a, self.b = 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.n <= 0:
            raise StopIteration
        else:
            result = self.a
            self.a, self.b = self.b, self.a + self.b
            self.n -= 1
            return result

# Example usage:
fib = FibonacciIterator(10)
for num in fib:
    print(num)

0
1
1
2
3
5
8
13
21
34

6.Write a generator function in Python that yields the powers of 2 up to a      given exponent.

In [ ]:
def powers_of_2(exponent):
    for i in range(exponent + 1):
        yield 2 ** i

# Example usage:
for power in powers_of_2(5):
    print(power)

1
2
4
8
16
32

7.Implement a generator function that reads a file line by line and yields each line as a string.

In [ ]:
def read_file_line_by_line(file_path):
    try:
        # Open the file in read mode
        with open(file_path, 'r') as file:
            # Loop through each line in the file
            for line in file:
                yield line.strip()  # Yield each line with newline characters removed
    except FileNotFoundError:
        print(f"The file at {file_path} was not found.")

# Example usage
file_path = 'example.txt'  # Replace with your file path
for line in read_file_line_by_line(file_path):
    print(line)

The file at example.txt was not found.

8.Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [ ]:

tuples_list = [(1, 3), (3, 1), (5, 2), (2, 5), (4, 4)]


sorted_list = sorted(tuples_list, key=lambda x: x[1])

print("Sorted list:", sorted_list)

Sorted list: [(3, 1), (5, 2), (1, 3), (4, 4), (2, 5)]

9.Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [ ]:
celsius_temps = [0, 20, 37, 100, -5]
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32
fahrenheit_temps = list(map(celsius_to_fahrenheit, celsius_temps))

print("Celsius temperatures:", celsius_temps)
print("Converted Fahrenheit temperatures:", fahrenheit_temps)

Celsius temperatures: [0, 20, 37, 100, -5]
Converted Fahrenheit temperatures: [32.0, 68.0, 98.6, 212.0, 23.0]

10.Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [ ]:

def remove_vowels(char):
    vowels = "aeiouAEIOU"
    return char not in vowels


input_string = "Hello, World!"

filtered_string = ''.join(filter(remove_vowels, input_string))

print("Original string:", input_string)
print("String without vowels:", filtered_string)

Original string: Hello, World!
String without vowels: Hll, Wrld!

11.Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
Order Number

34587

Book Title and Author

Quantity

4

5

3

3

Price per Item

98762

Learning Python, Mark Lutz

40.95

77226

Programming Python, Mark Lutz

56.80

88112

Head First Python, Paul Barry

32.95

Einführung in Python3, Bernd Klein

24.99
Write a Python program, which returns a list with 2-tuples. Each tuple consists of the order number and the product of the price per item and the quantity. The product should be increased by 10,- € if the value of the order is smaller than 100,00 €.

Write a Python program using lambda and map.

Here's a Python program that uses lambda and map() to return a list of          2-tuples, where each tuple consists of the order number and the product of the  price per item and the quantity. If the product is less than 100 €, an          
additional 10 € is added.

In [ ]:
orders = [
    [34587, "Learning Python, Mark Lutz", 4, 40.95],
    [77226, "Programming Python, Mark Lutz", 3, 56.80],
    [88112, "Head First Python, Paul Barry", 5, 32.95],
    [98762, "Einführung in Python3, Bernd Klein", 3, 24.99]
]

result = list(map(lambda order: (order[0], (order[2] * order[3]) + 10 if (order[2] * order[3]) < 100 else order[2] * order[3]), orders))

print(result)

[(34587, 163.8), (77226, 170.39999999999998), (88112, 164.75), (98762, 84.97)]